.card{
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: rgb(19 225 229 / 29%);
/* opacity: revert; */
background-clip: border-box;
border: 1px solid rgb(192 108 108);
border-radius: 0.25rem;}